body {padding-top:100px;background:#f4f4f4;}

#wrap {
	width:620px;
	margin:0 auto 20px;padding:40px;
	position:relative;
	border:1px solid #ccc;border-radius:3px;box-shadow:0 0 5px #ddd;background:#fff;
	}