.clearvk-showTop .post {
  overflow: hidden;
  position: relative;
  height: 60px;
  opacity: .2;
  }
.clearvk-showTop-group {opacity: .3;}

.clearvk-hideAll .post,
.clearvk-hideAll-group {display: none;}
